<div id="maindiv">
    <div class="flex-center">
        <img src="../res/src_assets_logos_logo_rounded.png" style="width: 10%">
    </div>
    <div class="flex-center" style="font-family: BalooChettan2-SemiBold; font-size: 26px;">
        Login
    </div>
    <br><br>
    <div style="display: block; margin-left: auto; margin-right: auto; width: 25%;">
        EMAIL<br>
        <input type="text" id="Login_Email" style="width: 95%; height: 40px; font-size: 17px; margin-top: 10px;"
            autofocus>
        <br><br>
        PASSWORD<br>
        <input type="password" id="Login_Password" style="width: 95%; height: 40px; font-size: 17px; margin-top: 10px;">
        <br><br>
        <label class="checkBox_container" style="font-size: 16px;"> Remember Password<input id="StaySignedInCheckbox"
                type="checkbox"><span class="checkmark"></span></label>
        <br><br>
        <button id="SignInButton"
            style="font-family: BalooChettan2-Bold; width: 100%; height: 40px; font-size: 16px;">LOG
            IN</button>
        <div class="loader" id="SignIn_Progress" style="width: 40px; height: 40px; margin: auto;"></div>
        <br>
        <button id="CancelButton"
            style="font-family: BalooChettan2-Bold; width: 100%; height: 40px; font-size: 16px;">Cancel</button>
        <br><br><br>
        <div id="version_main"></div>
    </div>
</div>